@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

body{
    font-family: 'Bruno Ace SC', cursive;
}

img{
    vertical-align: top;
}

.font_style{
    line-height: 150%;
    letter-spacing: 0em;
}


h1{
    font-size: 128px;
    text-align: right;
    display: block;
}

h2{
    font-size: 64px;
}

h3{
    font-size: 24px;
}
/*
img{
    max-width: 100%;
    height: 100%;
}
*/
.fs-1text{
    font-size: 32px;
}

.fs-2text{
    font-size: 24px;
}

.fs-3text{
    font-size: 20px;
}
.fs-4text{
    font-size: 16px;
}
.font-color{
    color:#FFFFFF;
}
.container{
    max-width: 1296px;
    margin: 0px auto;
}

.nav{
    background: #000; 
}

.list{
    display: flex;
    justify-content: space-around;

}

.list > li:not(:last-child) {
    width: 306px;
}

.list > li:last-child {
    width: 196px;
    text-align: right;
}

.list a{
    color: #D1D1D1;
    display: block;
    margin-top: 40px;
}

/*Banner區域*/
.banner{
    background: #000;
}
.ban_layout{
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar{
    width: 636px;
    margin-top: 72px;
    margin-bottom:72px;
    margin-right:24px;
}
.intro_word{
    color:#fff;
}
.green{
    color: #00FFA3;
}
/*Banner按鈕*/
.btn{
    display: flex;
    justify-content: end;
    align-items: end;
}

.ml_4{
    margin-right: 4px;
}

.btn_word {
    display: flex;
    align-items: center;
    background-color: #fff;
    color:#000000 ;
    padding: 12px 24px;
    border-radius: 32px;
}

.btn_word a{
    display: block; 
}

.arrow_icon{
    width: 24px;
}

/*intro*/
.intro{
    background-image: url(img-week2/background-img.png);
    background-size: cover;
}
.intro_box{
    display: flex;
    justify-content: center;
    padding: 160px 0px;
    
}
.intro_l{
    width: 526px;
    margin-right: 24px;
}
.dec_img{
    display: flex;
}

.dec_img li:not(:last-child){
    margin-right: 16px;
}
.intro_r{
    width: 746px;
}

.intro_pic{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.intro_r li:not(:last-child){
    margin-right: 24px;
}

/* about me*/
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:160px 0px;
}
.cards{
    width: 636px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px 24px;
}
.card_box{
    width: 304px;
    padding: 16px;
    border:1px solid #E3E3E3;
    box-shadow:4px 4px 4px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
}
.card_title{
    margin-bottom: 4px;
}
.about_content{
    width: 526px;
}
.content{
    font-size: 24px;
}
.about_content .content {
    margin-bottom: 36px;
}
/*
.about_content .content {
   line-height: 150%;
}
*/

/* contact */
.contact{
    background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}
.contact_box{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 129px 0px;
}
.contact_title{
    color: #FFFFFF;
    margin-right: 16px;
}
.contact_left{
    display:flex;
    justify-content: center;
    align-items: center;
}
.contact_right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.margin_r20 {
    margin-right: 20px;
}
.contact_right img{
    width: 162px;
}
.focus_icon{
    border-radius: 0.5%;
    width: 162px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.focus_icon:hover{
    border-radius: 25%;
    width: 162px;
    box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.9);
}
/*project*/
.project{
    padding: 160px 0px;
}
.project h2{
    width: 746px;
    margin-left: auto;
    margin-bottom: 16px;
}
.project_box{
    display: flex;
    justify-content: center;
    align-items: start;
}
.pic_left{
    width: 416px;
    margin-right: 24px;
}
.pic_right{
    width: 856px;
}
.pic_right .top{
    display: flex;
    margin-bottom: 28px;
}
.pic_right .top img{
    margin-right: 24px;
}
.pic_right_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start; 
}

.pic_right p{
    line-height: 150%;
}
.pic_right a{
    display: block;
    font-size: 16px;
}
.pic_right .btn{
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 1);
    border-radius: 32px;
    padding:12px 24px;
    color:#fff;
    line-height: 150%;
}
.btn_arrow{
    width: 24px;
    margin-left: 4px;
}

/*footer*/
.footer{
    background: rgba(0, 0, 0, 1);
    padding:40px 0px;
}
.footer p{
    color:rgba(255, 255, 255, 1);
    text-align: center;
}